<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Ajouter</strong> produit
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"> Numéro du produit</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Numéro">
             
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"> Nom du produit</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Nom">
              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email-input">Catégorie</label>
            <div class="col-md-9">
              
              <select id="disabledSelect" class="form-control" >
                <option value="0">Catégories</option>
                <option value="1">Herbicides</option>
                <option value="2">Fongicides</option>
                <option value="3">Insecticides</option>
              </select>
              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
            <div class="col-md-9">
              <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Date d'ajout</label>
            <div class="col-md-9">
              <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
             
            </div>
          </div>
        
          
          
          
          
          
          
          
          
          
         
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-input">Ajouter Image</label>
            <div class="col-md-9">
              <input type="file" id="file-input" name="file-input">
            </div>
          </div>
          
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Confirmer</button>
       
      </div>
    </div>
    
  