<div class="row">
  <div class="col-sm-6">
    
    
    
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Modifier Quantité</label>
              <br>
              <input type="text" class="form-control" id="qte" placeholder="">


              <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o" ></i> Confirmer</button>

            </div>
          </div>
        </div><!--/.row-->
        
        </div>