<div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Condensed Table
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Id client</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse E-mail</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00123</td>
                <td>Ben said</td>
                <td>Tarek</td>
                <td>bensaidtarak@gmail.com</td>
                <td><button type="button" class="btn btn-danger ml-2">Supprimer</button></td>           
                </tr>
              <tr>
                <td>0123</td>
                <td>ben ammar</td>
                <td>seif</td>
                <td>seifbenammar@hotmail.com</td>
                <td><button type="button" class="btn btn-danger ml-2">Supprimer</button></td>  
              </tr>
              
              
             
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
    

