<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Information de contact</strong> 
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="hf-name">Nom</label>
                <div class="col-md-9">
                  <input type="text" id="hf-name" name="hf-name" class="form-control" placeholder="Entrer Nom" autocomplete="nom">
                 
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="hf-prénom">Prénom</label>
                  <div class="col-md-9">
                    <input type="text" id="hf-prénom" name="hf-prénom" class="form-control" placeholder="Entrer Prénom" autocomplete="prénom">
                   
                  </div>
                </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-email">Email</label>
            <div class="col-md-9">
              <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Entrer Email.." autocomplete="email">
             
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-tél">Numéro Téléphone</label>
            <div class="col-md-9">
              <input type="text" id="hf-téél" name="hf-tél" class="form-control" placeholder="Entrer Numéro téléphone" autocomplete="tél">
              
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Confirmer</button>
       
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Changer </strong> Mot de passe
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-email">Mot de passe</label>
            <div class="col-md-9">
              <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Entrer Mot de passe" autocomplete="email">
              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-password">Confirmer Mot de passe</label>
            <div class="col-md-9">
              <input type="password" id="hf-password" name="hf-password" class="form-control" placeholder="Entrer Mot de passe" autocomplete="current-password">
              
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Confirmer</button> 
      </div>
    </div>
  </div><!--/.col-->
</div>